@import "../scss/colors.scss";

.about-card {
  min-width: 375px;
  
  .description {
    background: $deep-violet;
    padding: 60px 0;
    margin-bottom: 60px;
    
    .container {
      width: 327px;
      margin: 0 auto;
      font-size: 12px;
      color: $white;
    }
  }
}