@import "../scss/colors.scss";

.card-field {
  min-width: 375px;
  background: $deep-violet;

  margin-bottom: 91px;
}

.theme-section {
  position: relative;
  width: 375px;
  height: 240px;
  margin: 0 auto;
}

.form-section {
  width: 375px;
  margin: 0 auto;
}
