@import "../scss/colors.scss";
@import "../scss/variables.scss";

.home {
  min-width: 375px;
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 240px;
    background: $deep-violet;

    margin-bottom: 91px;
  }

  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 65px;

    min-width: 327px;
    margin-bottom: 60px;
  }

  .full-card {
    position: relative;

    width: 285px;
    height: 156.208px;

    cursor: pointer;
    
    &:hover {
      .front-card {
        transition: all $cardTransition;
        transform: translate(-30px, 30px);
      }
      .back-card {
        transition: all $cardTransition;
        transform: translate(30px, -30px);
      }
    }
    
    .front-card,
    .back-card {
      position: absolute;
      top: 0;
      left: 0;
      transition: all $cardTransition;
    }

    .front-card {
      z-index: 10;
    }

    .back-card {
      z-index: 1;
    }
  }
}