@import '../scss/colors.scss';

.correct-result {
  width: 327px;
  margin: 0 auto 60px;
  text-align: center;

  img {
    display: block;
    width: 80px;
    height: 80px;

    margin: 0 auto 35px;
  }

  h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.422px;
    text-transform: uppercase;
    color: $deep-violet;

    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $purplish-grey;

    margin-bottom: 48px;
  }
}