$white: #fff;
$deep-violet: #21092F;
$dark-gray: #2F2F2F;
$purplish-grey: #8F8694;
$gray: #ADB5BE;
$pink: #D53AFF;
$orange: #FF834A;
$blue: #47A2FF;
$red: #FF5050;

$purple-gradient : linear-gradient(164deg, #6348FE 4.74%, #610595 88.83%);
$gray-gradient: linear-gradient(169deg, #FFF 5%, #D2D3D9 91.69%);

$input-gradient: var(--Gradient, #6348FE);

$shadow: drop-shadow(0px 39px 60px rgba(0, 0, 0, 0.14));