@import "../scss/colors.scss";

$transition: 0.16s;

.button {
  display: block;
  width: 100%;
  padding: 15px 0;
  background: $deep-violet;
  color: $white;
  outline: none;
  border: none;
  border-radius: 8px;

  text-decoration: none;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
  transition: $transition;

  &:hover {
    opacity: 0.9;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

.hoverable-button {
  color: $white;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;

  border: 1px solid $white;
  border-radius: 8px;
  padding: 10px;

  transition: $transition;

  &:hover {
    background: $white;
    color: $deep-violet;
  }
}

.input-error {
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $red;

  margin-top: 8px;
}